#guides-section {
    position: relative;
    text-align: center;
    background-color: #fafafa;
    padding: 100px 0;

    #guide-tabs {
        height: 50px;

        #guide-tabs-content {
            display: inline-flex;
            top: 0;
            left: 0;
            right: 0;
            width: 750px;
            height: 50px;
            background-color: white;
            border: 2px solid var(--primary-color);
            box-sizing: content-box;
            z-index: 1;

            button {
                flex: 1 1;
                border-radius: 0;
                transition: font-size 0.35s, color 0.35s, background-color 0.35s;
            }

            button:hover,
            button:active,
            button:focus {
                outline: none;
                box-shadow: none;
            }

            button.active {
                color: white;
                background-color: var(--primary-color);
            }
        }

        #guide-tabs-content.fixed {
            position: fixed;
            top: 76px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
}
