.file-tree {
    position: relative;
    margin-bottom: 12px;

    .right-div {
        position: relative;

        .card {
            min-height: 100px;
            border-radius: 15px;
            box-shadow: 2px 2px 6px #c4c4c4;
            border: none;

            .card-body > :last-child {
                margin-bottom: 0;
            }
        }

        .card.fixed {
            --card-fixed-top: 0;
            --card-fixed-left: 0;
            --card-fixed-right: 0;
            --card-fixed-width: 0;

            position: fixed;
            top: var(--card-fixed-top);
            left: var(--card-fixed-left);
            right: var(--card-fixed-right);
            width: var(--card-fixed-width);
        }

        .card.fixed-with-parent {
            position: absolute;
            top: unset;
            left: unset;
            right: unset;
            bottom: 0;
        }
    }
}
