.tree-file {
    position: relative;
    margin-bottom: 12px;
}

.tree-file::after {
    position: absolute;
    content: "";
    top: 14px;
    left: -28px;
    width: 16px;
    height: 1px;
    background-color: #555;
}

.tree-file:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}
