#app {
    --primary-color: #440080;

    font-family: "Ubuntu", sans-serif;

    code {
        color: white;
        padding: 1px 6px;
        border-radius: 4px;
        background-color: #333;
        font-family: monospace;
        font-size: 1rem;
    }

    #description-section {
        display: grid;
        min-height: 100vh;
        place-items: center;
        padding: 50px 0;

        blockquote {
            border-left: 4px solid #555;
            padding: 0 30px;

            p {
                text-align: center;
                font-size: 2rem;
            }

            p:last-child {
                font-size: 1.35em;
            }
        }

        #install {
            text-align: center;

            code {
                color: white;
                padding: 10px 20px;
                font-size: 1.5rem;
                border-radius: 8px;
                background-color: var(--primary-color);
            }
        }
    }
}
